.bg-img {
  position: relative;
}
.bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("./assets/buku2.jpg");
  background-size: cover;
  opacity: 0.2;
  /* z-index: -1; */
}
.bg-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('./assets/gambar1.png');
  z-index: -2;
  background-size: cover;
}

.bg-opacity-white {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}
.bg-opacity-white::before {
  content: '';
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 5%;
}

.oval {
  border-radius: 50%;
}
.bg-opacity-dark {
  position: relative;
  background-color: rgba(1, 0, 0, 0.5)
}

.text-vertical-n {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.bg-light-n {
  position: relative !important;
  background-color: rgba(255, 255, 255, 0.7)
}